---
import { getCollection } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import { format } from "date-fns";
import { Image } from "astro:assets";
import { getRelatedPosts } from "../../../queries/posts";
import PostList from "../../../components/PostList.astro";

export async function getStaticPaths() {
  let posts = await getCollection("blog");
  return posts.map((post: any) => ({
    props: {
      post,
    },
    params: { slug: post.slug },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
const relatedPosts = await getRelatedPosts("es", post);
---

<Layout title="Alexys Hegmann dot rocks">
  <div class="flex flex-col gap-4 max-w-7xl mx-auto">
    <header class="px-4 md:px-0">
      <div>
        {
          post.data.image && (
            <Image
              src={post.data.image}
              alt={post.data.title}
              class="w-full max-h-96 object-cover mb-2"
            />
          )
        }
      </div>
      <h2
        class="text-rose-600 text-2xl font-light border-b-2 border-rose-600 pb-2 mb-1 mx-0 sm:mx-4 xl:mx-0"
      >
        {post.data.title}
      </h2>
      <div class="text-slate-500 text-sm mb-2 mx-0 sm:mx-4 xl:mx-0">
        {format(post.data.date, "d ' de ' MMMM ' del ' yyyy ' a las ' HH:mm")}
      </div>
    </header>
    <div class="flex flex-col md:flex-row gap-4 mx-0 sm:mx-4 xl:mx-0">
      <main class="px-4 md:px-0 w-full md:w-2/3 flex justify-center">
        <div class="prose prose-rose prose-invert w-full">
          <Content />
        </div>
      </main>
      <aside class="w-full md:w-1/3 px-4 md:px-0">
        <section>
          <h3 class="text-rose-600 border-b-2 border-rose-600 mb-4">
            Posts relacionados
          </h3>
          <PostList posts={relatedPosts} />
        </section>
      </aside>
    </div>
  </div>
</Layout>
