---
// import Svg from '@cxa/astro-inline-svg';
import { Image } from "astro:assets";
import LogoSvg from "../assets/logo.svg?raw";

const props = Astro.props;
---

<a href="/" aria-label="Página principal" class="inline-block [&>svg]:fill-slate-50 h-8">
  <Fragment set:html={LogoSvg} />
</a>
