---
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="Alexys Hegmann - Manifiesto"
>
  <article
    class="px-4 leading-relaxed [&>p]:mb-8 md:[&>p]:mx-32 [&>p]:leading-loose"
  >
    <h1
      class="text-3xl font-bold pb-4 border-b-2 mb-4 text-rose-600 border-rose-600"
    >
      Manifiesto
    </h1>
    <p>
      Volvamos al origen: dejémonos de tonterías. Las redes sociales y las
      grandes empresas secuestraron el internet y este es mi grito de batalla.
    </p>
    <p>
      Estoy harto de sentirme atado por todas estas reglas absurdas que nos auto
      imponemos respecto a nuestra presencia en internet. Estoy harto de tener
      que cortar partes de mi ser para encajar en ese nicho definido por un
      hashtag. Yo soy todo esto, pero los algoritmos todo poderosos no van a
      elegir mi humilde foto para mostrársela a mis amigos porque en vez de eso
      le van a volver a mostrar ese video viral que ya han visto tantas veces
      que ya perdió la gracia.
    </p>
    <p>
      Estoy harto del internet muerto. Estoy harto de que los buscadores ya sólo
      regresan la misma información copiada una y otra vez optimizada para el
      SEO. Los papeles se invirtieron y en vez de que el buscador mejorara para
      encontrar la mejor información, la información mutó y se mutiló para
      encajar en los algoritmos. La calidad ya no importa, ya sólo importa
      aparecer en la primera página de google y atascar al usuario con anuncios
      para ganar unos pocos dólares.
    </p>
    <p>
      Ya no "navegamos por internet", sino que estamos estáticos en el puerto
      tragándonos lo que el algoritmo tiene para nosotros. Ya no hay
      exploración, ya no hay comunidad, ya no hay personalización; y lo poco que
      queda está condicionado a las reglas que hemos inventado para asegurar la
      poca atención de quien llegue de casualidad a nuestros perfiles:
      conocimiento tribal de prueba y error que luego se estandariza y se vende
      como curso de redes sociales y dos meses después está desactualizado
      porque "el algoritmo cambió".
    </p>
    <p>
      Me declaro como parte de la resistencia de una web por y para humanos
      apoyados de la tecnología como herramientas libres. Descentralicemos la
      red nuevamente. Bienvenida la innovación y regresémosle la vida a este
      páramo vandalizado por las IAs y los codiciosos colectores de datos.
      Reclamemos nuestro espacio expresándonos y colaborando los unos con los
      otros nuevamente. Formemos nuevas tripulaciones y volvamos raro al
      internet de nuevo.
    </p>
  </article>
</StaticLayout>
