---
import BaseLayout from "./BaseLayout.astro";
import Header from "../components/Header.astro";
import { Image } from "astro:assets";
import licenseImg from "../assets/by-nc-sa.png";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<BaseLayout title={title}>
  <div
    class="min-h-screen min-w-full bg-slate-800 text-slate-50 overflow-x-hidden"
  >
    <Header />
    <div class="pt-20 min-h-[calc(100vh-175px)]">
      <slot />
    </div>
    <footer class="bg-slate-950 mt-16 p-4 border-t-2 border-slate-700">
      <section class="flex flex-col items-center">
        <p class="mb-4 text-xs">
          Copyright 2024. Licenciado bajo <a
            href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.es"
            >CC BY-NC-SA 4.0</a
          >
        </p>
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.es"
          ><Image
            src={licenseImg}
            alt="Creative Commons BY-NC-SA 4.0"
            class="w-32"
          />
        </a>
      </section>
    </footer>
  </div>
</BaseLayout>
